@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html,body{
	margin: 0;
	padding:0;
	height: 100%;
	width:100%;
}
.intro{
	height:100%;
	width:100%;
	margin:auto;
	background: url(app_bg.png) no-repeat 50% 50%;
	display: table;
	top:0;
	padding: 0px;
	background-size: cover;
}
.features{
	height:auto;
	width:100%;
	margin:auto;
	display: table;
	background-color: #fffff8;
	top:0;
}
.about{
	width: 100%;
}
.intro .inner{
	display: table-cell;
	width: 100%;
	max-width: none;
}
.content{
	margin: 50px;
	display: flex;
}
.content_title{
	display: flex;
	margin-left: 100px;
	margin-top: 0px;
}
.logo{
	height: 70px;
	width: 70px;	
}
.img_app_info{
	justify-content: flex-end;
	margin-left: auto;
	margin-right: 50px;
	width: 35%;
	height: 35%;
}
.content_description .playstore{
	height: 50px;
	width: 50px;	
	margin-left: 100px;
}
.content h1{
	font-family: 'Raleway', sans-serif;
	color: 	#FFFFFF;
	font-size: 300%;
	margin: 0px;
	padding-top: 10px;
}
.content h2{
	font-family: 'Raleway', sans-serif;
	color: 	#FFFFFF;
	font-size: 200%;
	margin-top: 50px;
	padding-top: 20px;
	margin-left: 100px;
}
.content h3{
	font-family: 'Raleway', sans-serif;
	color: 	#FFFFFF;
	font-size: 125%;
	margin-top: 50px;
	padding-top: 20px;
	margin-left: 100px;
	font-weight: bold;
}
.content h5{
	font-family: 'Raleway', sans-serif;
	color: 	#FFFFFF;
	font-size: 100%;
	font-weight: 100;
	margin-left: 100px;
	margin-top: 0px;
}
.content p{
	font-family: 'Raleway', sans-serif;
	max-width: 500px;
	color: #FFFFFF;
	font-size: 150%;
	margin-left:100px;
}

.features_description{
	display: flex;
	margin: 50px;
}

.features_description .img_features{
	width: 250px;
	height: 250px;
	margin-left: 50px;
}

.features_description .features_detail{
	width: 100%;
	margin-left: 50px;
	justify-content: center;
	display: flex;
	font-family: 'Raleway', sans-serif;
	color: #284b6d;
}

.feature_create{
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 10px;
	max-width: 250px;
}

.feature_create_title h2{
	margin-top: 10px;
	margin-left: 10px;
	text-align: center;
}

.feature_chat_title h2{
	margin-top: 10px;
	margin-left: 10px;
	text-align: center;
}

.feature_split_expense_title h2{
	margin-top: 10px;
	margin-left: 10px;
	text-align: center;
}

.features_detail p{
	font-size: 13px;
	font-weight: bolder;
	color: #616161;
	text-align: center;
}

.feature_chat{
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 10px;
	max-width: 250px;
}

.feature_split_expense{
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	max-width: 250px;
}

.feature_create_title{
	display: flex;
	margin: 0 auto;
	justify-content: center;
}

.feature_chat_title{
	display: flex;
	margin: 0 auto;
	justify-content: center;
}

.feature_split_expense_title{
	display: flex;
	margin: 0 auto;
	justify-content: center;
}

.about{
	height:20%;
	width:100%;
	margin-top: 50px;
	display: table;
	background-color: #acc9db55;
	top:0;
	justify-content: center;
}

.about_privacy_policy{
	display: flex;
	justify-content: center;
	font-family: 'Raleway', sans-serif;
	color: #4682b4;
}

.about_privacy_policy h3{
	margin-top: 50px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

.about_copyright{
	display: flex;
	justify-content: center;
	color: #4682b4;
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
}


@media screen and (max-width: 780px) {
	html,body{
		margin: 0;
		padding:0;
		height:100%;
		width:100%;
	}

	.intro{
		height:100%;
		width:100%;
		margin:0px;
		background-image: url(app_bg.png);
		top:0;
		padding-bottom: 100px;
		background-size:cover;
		background-position: center top;
	}

	.content{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 50px;
	}

	.content h2{
		font-family: 'Raleway', sans-serif;
		color: 	#FFFFFF;
		font-size: 200%;
		margin-top: 50px;
		padding-top: 20px;
		margin-left: 0px;
	}
.content h3{
		font-family: 'Raleway', sans-serif;
		color: 	#FFFFFF;
		font-size: 125%;
		margin-top: 50px;
		padding-top: 20px;
		font-weight: bold;
		margin-left: 0px;
	}
.content h5{
		font-family: 'Raleway', sans-serif;
		color: 	#FFFFFF;
		font-size: 100%;
		font-weight: 100;
		margin-top: 0px;
		margin: 0px;
	}
.content p{
		font-family: 'Raleway', sans-serif;
		max-width: 500px;
		color: #FFFFFF;
		font-size: 150%;
		margin: 0px;
	}


	.content_title{
		display: flex;
		justify-content:center;
		margin: 0px;
	}

	.content h1{
		font-family: 'Raleway', sans-serif;
		color: 	#FFFFFF;
		font-size: 200%;
		margin: 0px;
		padding-top: 10px;
		margin: 0px;
	}
	.logo{
		height: 50px;
		width: 50px;	
		font-size: 10%;
	}
	.img_app_info{
		width: 200px;
		height: 200px;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 20px;
	}
	.content_description .playstore{
		height: 50px;
		width: 50px;	
		margin-left: 0px;
	}
	.features{
		height:100%;
		width:100%;
		margin:0px;
		top:0;
		padding-bottom: 100px;
	}

	.features_description{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 50px;
	}

	.features_description .img_features{
		width: 200px;
		height: 200px;
		margin: 0px;
	}

	.features_description .features_detail{
		width: 100%;
		display: flex;
		flex-direction: column;
		font-family: 'Raleway', sans-serif;
		color: #284b6d;
		justify-content: center;
		align-items: center;
		margin: 0px;
	}

	
	.feature_create_title h2{
		margin-top: 10px;
		margin-left: 10px;
		text-align: center;
	}

	.feature_chat_title h2{
		margin-top: 10px;
		margin-left: 10px;
		text-align: center;
	}

	.feature_split_expense_title h2{
		margin-top: 10px;
		margin-left: 10px;
		text-align: center;
	}

	.features_detail p{
		font-size: 15px;
		font-weight: bold;
	}

	.about{
		height:20%;
		width:100%;
		margin: 0px;
		background-color: #acc9db55;
		top:0;
		justify-content: center;
	}

	.about_privacy_policy{
		display: flex;
		justify-content: center;
		font-family: 'Raleway', sans-serif;
		color: #4682b4;
		margin: 50px;
	}

	.about_privacy_policy h3{
		margin-top: 50px;
		margin-bottom: 20px;
		margin-left: 20px;
		margin-right: 20px;
	}

	.about_copyright{
		display: flex;
		justify-content: center;
		color: #4682b4;
		font-size: 15px;
		font-family: 'Raleway', sans-serif;
	}

}
